.app-component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    color: white;
}

.todo-list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-todo-item-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1.2rem;
    border-style: none;
    background: var(--primary-color);
    box-shadow: var(--shadow);
    transition: all 500ms;
}

.add-todo-item-btn:hover {
    background: var(--button-hover);
    transform: rotate(90deg);
}

.add-todo-item-btn:active {
    background: var(--button-active);
}
