.app-component {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todo-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
